beautifulsoup4>=4.9.1
requests>=2.24.0 
lxml>=4.3.4
python-telegram-bot>=12.3.0
notion-client>=0.4.0
google-api-python-client>=1.7.11
oauth2client>=4.1.3
gspread>=3.6.0
git+https://github.com/Linusp/python-inoreader@master#egg=inoreader
feedgen>=0.9.0
boto3>=1.18.0
gne>=0.3.0
google-auth-oauthlib>=0.4.6
google-cloud-texttospeech>=2.11.1
exifread<3